@keyframes rotate-c {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
  }

.footer {

	&-info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 136rem;
		margin-bottom: 32rem;

		@include desktop-small {
			gap: 90rem;
		}

		@include tablet-small {
			flex-direction: column;
			align-items: center;
		}

		&__logo {
			display: flex;
			align-items: center;
			gap: 8rem;
			margin-bottom: 15rem;
		}

		&__logo-img {
			transition: var(--transition);
			max-width: 35rem;
			max-height: 35rem;
			&:hover {
				animation: rotate-c 1s ease-in-out both;
			}
		}

		&__logo-title {
			font-family: var(--second-family);
			font-weight: 500;
			font-size: 20rem;
			color: var(--c-text-white);
		
		}

		&__location, &__phone, &__email  {
			display: flex;
			align-items: center;
			align-self: center;
			gap: 7rem;
			margin-bottom: 10rem;
			font-weight: 400;
			font-size: 16rem;
			line-height: 200%;
			color: var(--c-footer-white);
		}

		&__location div, &__phone div, &__email div {
			display: flex;
			align-items: center;
		}

		&__email {
			margin-bottom: 15rem;
		}

		&__socials { 
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 15rem;
			transition: var(--transition);
			a svg {
				max-width: 32rem;
				max-height: 32rem;
			}

			& a:hover {
				transform: scale(1.2);
				svg path {
					fill: var(--c-primary);
				}
			}
		}

		&__nav { 
			display: flex;
			gap: 70rem;

			@include desktop-small {
				gap: 40rem;
			}

			@include tablet-small {
				gap: 50rem;
			}

			@include mobile {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				column-gap: 20rem;
			}
		}

		&__ul {
			@include mobile {
				flex: 0 1 calc((100% - 20rem)/2);
			}
		}

		&__li {

			&:hover:not(:first-child) {
				transform: scale(1.02);
			}

			@include mobile {
				text-align: center;
			}
		 }

		&__a { 
			font-weight: 400;
			font-size: 18rem;
			line-height: 222%;
			letter-spacing: 0.01em;
			color: var(--c-footer-white);
			white-space: nowrap;

			&:hover:not(.footer-info__nav-title) {
				color: var(--c-text-white);
			}

			@include desktop-small {
				white-space: normal;
			}

			@include tablet-small {
				font-size: 18rem;
			}

			@include mobile {
				
			}
		}

		&__nav-title {
			font-weight: 500;
			cursor: initial;
		}
	}
	
	&-policy {
		padding-top: 36rem;
		padding-bottom: 36rem;
		border-top: 1rem solid rgba(150, 150, 150, 0.2);
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 14rem;
		line-height: 100%;
		color: var(--c-footer-white);

		&__container {
			display: flex;
			align-items: center;

			@include tablet {
				flex-direction: column;
				gap: 40rem;
			}
		}

		&__copy {
			margin-right: auto;

			@include tablet {
				margin-right: initial;
			}
		}

		&__link {
			margin-right: 53rem;
			color: var(--c-footer-white);

			@include tablet {
				margin-right: initial;
			}

			&:last-child {
				margin-right: 39rem;

				@include tablet {
					margin-right: initial;
				}
			}
		}
	}
}
